html, body {
  height:100%;
  margin: 0;
}

#sidebarContainer {
  background-color: #3C989E;
  width: 25%;
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  box-shadow: inset -7px 0 9px -7px rgba(0, 0, 0, 1.0);
}

#sidebarContainer #titleText {
  font-size: 64px;
  font-family: "Segoe UI", "Trebuchet MS", sans-serif;
  color: #F4CDA5;
  font-weight: bold;
  text-align: center;
  line-height: 10px;
  position: relative;
  top: 25px;
}

#sidebarContainer #titleSubtext {
  font-size: 36px;
  font-family: "Segoe UI", "Trebuchet MS", sans-serif;
  color: #F4CDA5;
  font-style:oblique;
  font-weight: normal;
  text-align: center;
  line-height: 10px;
}

#sidebarExperienceContainer {
  margin: 0 auto;
  overflow: scroll;
  position: relative;
  padding: 7.5% 7.5%;
  top: 50px;
}

#sidebarExperienceList {
  list-style-type: none;
  padding: 0;
  margin-top: -40px;
  display: table;
}

#sidebarExperienceList li {
  font-family: "Segoe UI";
  font-size: 28px;
  text-align: center;
  background-color: #5DB5A4;
  color: #F4CDA5;
  display: table-cell;
  float: left;
  width: 62%;
  clear: left;
  padding: 20px 65px;
  margin: 12px;
}

#sidebarExperienceList li:hover {
  cursor: pointer;
  background-color: #F57A82;
}

/* not very portable - change this */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#displayContainer {
  background-color: #FFFFF0;
  width: 75%;
  height: 75%;
  overflow-x: hidden;
  overflow-y: auto;
  flex-flow: column;
  position: absolute;
  left: 25%;
  top: 0;
  right: 0;
  bottom: 25%;
}

#inputContainer {
  background-color: #5DB5A4;
  width: 75%;
  height: 25%;
  display: flex;
  flex-flow: column;
  position: absolute;
  left: 25%;
  bottom: 0;
  display: none;
}

#inputContainer #addLineButton {
  font-family: Arial;
  color: #F4CDA5;
  font-size: 80px;
  background: #ED5276;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: absolute;
  width: 10%;
  right: 0;
  left: 90%;
  top: 0;
  bottom: 0;
  border-style: none;
  box-shadow: inset -7px 10px 9px -7px rgba(0, 0, 0, 0.6);
}

#sidebarContainer #newExperienceButton {
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 32px;
  color: #F4CDA5;
  background-color: #ED5276;
  padding: 10px 20px 15px;
  text-decoration: none;
  position: relative;
  width: 70%;
  height: auto;
  right: 15%;
  left: 15%;
  top: 20px;
  border-style: none;
}

#sidebarContainer #newExperienceButton:hover {
  background: #F57A82;
  text-decoration: none;
  cursor: pointer;
}

#sidebarContainer #newExperienceButton:active {
  top: 23px;
}

#inputContainer #addLineButton:hover {
  background: #F57A82;
  text-decoration: none;
  cursor: pointer;
}

#inputContainer #addLineButton:active {
  top: 3px;
}

#inputContainer #textInputBox {
  background-color: inherit;
  font-family: "Segoe UI";
  font-size: 32px;
  color: #F4CDA5;
  height: auto;
  width: 90%;
  border-style: none;
  overflow: none;
  outline: none;
  box-shadow: inset -7px 10px 9px -7px rgba(0, 0, 0, 0.6);
  padding: 20px;
}

p {
  font-family: monospace;
}

.reportLine {
  padding: 12px;
  margin: 0 auto;
  background-color: #3C989E;
  color: #F4CDA5;
  width: 100%;
  font-family: "Segoe UI";
  font-size: 24px;
  position: relative;
}

.reportLine:nth-child(even){
  background-color: #5DB5A4;
}

.reportLine:hover > .closeLineBtn {
  display: inherit;
}

/* For deleting reports from sidebar */
.closeReportBtn {
  margin-top: -30px;
  margin-right: -60px;
  float: right;
  font-weight: bold;
}

.closeReportBtn:hover {
  color: #ED5276;
}

/* For deleting individual lines from reportArea */
.closeLineBtn {
  position:relative;
  float: right;
  margin-right: 1.5%;
  top: -16px;
  font-weight: bold;
  display: none;
}

.closeLineBtn:hover {
  color: #ED5276;
  cursor: pointer;
}

label, input {
  display: block;
}

input.text {
  margin-bottom: 0px;
  width: 96%;
  padding: 0.4em;
  border: 0;
}

fieldset {
  padding: 0;
  border: 0;
  margin-top: 0px;
}

.ui-dialog {
  padding: 0.3em;
  border: 1px;
  background-color: #3C989E;
  text-align: center;
  font-family: "Segoe UI";
  color: #F4CDA5;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);/*10px 10px 5px grey;*/
}

.createReportBtnClass {
  text-align: center;
  padding: inherit;
  width: 75%;
  border-style: none;
  background-color: #ED5276;
  font-family: "Segoe UI";
  color: #F4CDA5;
  font-size: 30px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  /*margin-right: 32px;*/
  margin-right: 3.15%;
  margin-top: 7px;
  margin-bottom: 2px;
}

.createReportBtnClass:hover {
  background: #F57A82;
  text-decoration: none;
  cursor: pointer;
}

.cancelReportBtnClass {
  width: 20%;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-top: 7px;
  /*float: right;*/
  border-style: none;
  background-color: #5DB5A4;
  font-family: "Segoe UI";
  font-weight: normal;
  color: #F4CDA5;
  font-size: 30px;
}

.cancelReportBtnClass:hover {
  background: #F57A82;
  cursor: pointer;
}

.ui-dialog-titlebar {
  text-align: center;
  padding: 10px;
  font-size: 24px;
  background-color: #5DB5A4;
}
/*
#3C989E   Dark blue-green
#5DB5A4   Medium seafoam green
#F4CDA5   Sandy salmon
#F57A82   Lighter watermelon
#ED5276   Darker watermelon
*/
