<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sip Tritter</title>

    <link rel="stylesheet" href="static/mockup.css">
    <link rel="icon" href="static/favicon.png">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
    <div id="sidebarContainer">
      <h1 id="titleText">Fritattas</h1>
      <h2 id="titleSubtext">Experience Reports</h2>
      <button id="newExperienceButton">New Experience</button>
      <div id="sidebarExperienceContainer">
        <ul id="sidebarExperienceList">
          <li>4/18/18 - EXP 20mg</li>
          <li>4/18/18 - EXP 20mg</li>
          <li>4/18/18 - EXP 20mg</li>
          <li>4/18/18 - EXP 20mg</li>
          <li>4/18/18 - EXP 20mg</li>
          <li>4/18/18 - EXP 20mg</li>
          <li>4/18/18 - EXP 20mg</li>
          <li>4/18/18 - EXP 20mg</li>
          <li>4/18/18 - EXP 20mg</li>
          <li>4/18/18 - EXP 20mg</li>
          <li>4/18/18 - EXP 20mg</li>
          <li>4/18/18 - EXP 20mg</li>
          <li>4/18/18 - EXP 20mg</li>
        </ul>
      </div> <!-- /sidebarExperienceContainer -->

    </div> <!-- /sidebarContainer -->

    <div id="inputContainer">
      <textarea autofocus rows = "5" cols = "50" id = "textInputBox"></textarea>
      <button id="addLineButton">+</button>
    </div> <!-- /inputContainer -->

    <div id="displayContainer">

    </div> <!-- /displayContainer -->
  </body>
  <script src="static/scripts.js"></script>
</html>
